:root {
  --bg-link: rgb(255, 46, 0);
  --bg-section-light: rgb(255, 245, 235);
  --txt-light: rgba(255, 245, 235, 1);
  --txt-dark: rgb(37, 37, 37);
  --txt-gray: rgb(99, 99, 99);
  --txt-highlight: rgb(255, 174, 52);
  --box-shadow: 0px 4px 23px 0px rgba(255, 49, 3, 0.70);
  --border: rgb(144, 26, 0);
}

html {
  font-family: 'Poppins', sans-serif;
  font-size: 62.5%;
}

/* RESET BOOTSTRAP */
.container-fluid {
  max-width: 116.6rem;
  margin: 0 auto;
}

.bg-body-tertiary {
  background-color: transparent !important;
}

/* CTA */
.cta-link {
  margin: 0 auto;
  min-width: 25.7rem;
  width: fit-content;
  border-radius: 5rem;
  border: 1px solid var(--border);
  background-color: var(--bg-link);
  box-shadow: var(--box-shadow);
  transition: background-color 0.2s linear;
}

.cta-link:hover {
  background-color: var(--border);
}

/* HEADER */
.header {
  background-image: url(./images/hero-bg-mobile.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* NAVAGIATION */
.navbar .navbar-logo {
  width: 18.4rem;
}

.navbar .container-fluid {
  column-gap: 3.4rem;
}

.navbar .navbar-toggler {
  width: 3.6rem;
  height: 2.2rem;
  border: none;
  border-radius: 0;
  background-image: url(./images/btn-menu.svg);
  background-size: contain;
}

.navbar .navbar-collapse {
  padding: 1rem 0;
}

.navbar .navbar-nav {
  row-gap: 0.5rem;
}

.navbar .navbar-nav .nav-link {
  color: var(--txt-light);
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  transition: color 0.2s linear;
}

.navbar .navbar-nav .nav-link.cta-link {
  font-weight: 700;
}

.navbar .navbar-nav .nav-link:not(.cta-link):hover {
  color: var(--bg-link);
}

/* HERO */
.hero {
  padding-top: 3rem;
  text-align: center;
}

.hero .row {
  row-gap: 2rem;
}

.hero .hero-left {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.hero .hero-right {
  position: relative;
  width: fit-content;
  margin: 0 auto;
  padding: 0;
}

.hero .hero-h1 {
  color: var(--txt-light);
  font-family: 'Poppins', sans-serif;
  font-size: 3.2rem;
  font-style: italic;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: 0px 3px 2px rgba(0, 0, 0, 0.80);
}

.hero .hero-p {
  color: var(--txt-light);
  font-family: 'Poppins', sans-serif;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 400;
}

.hero .hero-p.hero-b {
  color: var(--txt-highlight);
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 2.8rem;
}

.hero .hero-link.cta-link {
  display: inline-block;
  min-width: 27.7rem;
  padding: 1.05rem 1rem;
  color: var(--txt-light);
  font-family: 'Poppins', sans-serif;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.6rem;
  text-transform: uppercase;
  text-decoration: none;
}

.hero .hero-picture::before {
  content: '';
  position: absolute;
  bottom: -1.5rem;
  right: -1.5rem;
  width: 19.3rem;
  height: 24.3rem;
  background-color: var(--txt-highlight);
  z-index: 0;
}

.hero .hero-img {
  position: relative;
  z-index: 1;
}

/* FIT */
.fit {
  padding-top: 1.5rem;
  padding-bottom: 5rem;
  background-color: var(--bg-section-light);
}

.fit-bottom {
  padding-top: 9.9rem;
  row-gap: 2rem;
}

.fit-h2 {
  color: var(--txt-dark);
  font-family: 'Poppins', sans-serif;
  font-size: 3.2rem;
  font-style: italic;
  font-weight: 700;
  max-width: 83.9rem;
  margin: 0 auto;
}

.fit-h2--highlight {
  color: var(--txt-highlight);
}

.fit-h3 {
  color: var(--txt-dark);
  font-family: 'Poppins', sans-serif;
  font-size: 2.8rem;
  font-style: italic;
  font-weight: 700;
  text-transform: uppercase;
}

.fit-p {
  color: var(--txt-dark);
  font-family: 'Poppins', sans-serif;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.8rem;
  max-width: 94.2rem;
  margin: 0 auto;
}

.fit-p.fit-i {
  color: var(--txt-gray);
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
  font-style: italic;
  font-weight: 400;
  line-height: 150%;
}

.fit-icons {
  gap: 3rem 9.5rem;
  padding-top: 4rem;
}

.fit-icon {
  row-gap: 2rem;
}

.fit-figure {
  width: 12.9rem;
  height: 12.9rem;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 100%;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
}

.fit-info {
  color: var(--txt-dark);
  font-family: 'Poppins', sans-serif;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.2rem;
}

.fit-img {
  width: 3.8rem;
  height: 4.2rem;
  margin: 0 auto;
}

/* MEDIA QUERY MAX-WIDTH */
@media screen and (max-width: 991px) {
  .hero .container-fluid {
    padding-left: 1.8rem;
    padding-right: 1.8rem;
  }

  .navbar .container-fluid {
    flex-direction: row-reverse;
    justify-content: flex-end;
  }
}

/* MEDIA QUERY MIN-WIDTH */
@media screen and (min-width: 768px) {
  .header {
    background-image: url(./images/hero-bg-desktop.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .hero {
    padding-top: 9.6rem;
    padding-bottom: 10.7rem;
  }

  .hero .row {
    position: relative;
  }

  .hero .hero-left {
    width: 65%;
    text-align: left;
    z-index: 5;
  }

  .hero .hero-right {
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
  }

  .hero .hero-link.cta-link {
    text-align: center;
    margin: 0;
  }

  .hero .hero-p {
    padding-right: 10rem;
  }

  .fit {
    padding-top: 7rem;
  }
}

@media screen and (min-width: 992px) {
  .header {
    padding-top: 2.5rem;
  }

  .navbar .navbar-nav {
    flex-grow: 1;
    justify-content: space-between;
  }

  .navbar .navbar-nav .nav-link {
    font-size: 1.6rem;
  }

  .navbar .navbar-nav .nav-link.nav-link--orange {
    min-width: 18.5rem;
  }

  .hero .hero-h1 {
    font-size: 5.2rem;
    line-height: 5.6rem;
  }

  .hero .hero-p {
    font-size: 3.6rem;
    padding-right: 15rem;
  }

  .hero .hero-picture::before {
    width: 41rem;
    height: 51.4rem;
    right: -3rem;
    bottom: -3rem;
  }

  .fit-h2 {
    font-size: 4.6rem;
    text-transform: uppercase;
  }
}

@media screen and (min-width: 1140px) {
  .header {
    padding-top: 4.5rem;
  }

  .navbar .container-fluid {
    column-gap: 1.9rem;
  }

  .navbar .navbar-nav .nav-link {
    font-size: 2rem;
  }

  .navbar .navbar-nav .nav-link.nav-link--orange {
    min-width: 25.7rem;
  }

  .hero .hero-right {
    top: 68%;
  }

  .hero .hero-left {
    width: 70%;
  }

  .hero .hero-p {
    padding-right: 22rem;
  }

  .fit {
    padding-top: 21.9rem;
    padding-bottom: 12rem;
  }

  .fit-icons {
    margin-top: 5.9rem;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    background-position: right center;
  }

  .hero .hero-right {
    right: 1.5%;
  }
}